/* .download-app-banner-ios{
  
  background: #ffffff;
  padding: 1em;
  bottom: 15px;
  width: 320px;
  left: calc(50% - 160px);
} */

.download-app-banner-android {
  position: fixed;
  padding: 1em;
  bottom: 35px;
  width: 320px;
  left: calc(50% - 160px);
  opacity: 0;
  background: #ffffff;
  border: 4px solid #c2e1f5;
  -webkit-animation: cssAnimation 0s 10s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: cssAnimation 0s 10s forwards; /* Firefox < 16 */
  -ms-animation: cssAnimation 0s 10s forwards; /* Internet Explorer */
  -o-animation: cssAnimation 0s 10s forwards; /* Opera < 12.1 */
  animation: cssAnimation 0s 10s forwards;
}

@keyframes cssAnimation {
  to {
    opacity: 1;
  }
}

.download-app-banner-ios {
  position: fixed;
  padding: 1em;
  bottom: 35px;
  width: 320px;
  left: calc(50% - 160px);
  background: #ffffff;
  border: 4px solid #c2e1f5;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
.download-app-banner-ios img {
  width: 30px;
  height: auto;
}
.download-app-banner-ios:after,
.download-app-banner-ios:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.download-app-banner-ios:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}
.download-app-banner-ios:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rightPage {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.headingTopSize {
  font-size: 36px !important;
  margin-top: 11% !important;
}
.coupleName {
  margin-top: 30px;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.categories {
  text-align: center;
  overflow: hidden;
}

.categoriesItem {
  display: inline-block;
}

ul#iconContainer {
  width: 100%;
  list-style: none;
  margin-top: 55px;
}

ul#iconContainer li {
  width: 15%;
  text-align: center;
  margin-bottom: 20px;
  justify-items: unsafe;
  transition: all 0.3s ease;
  color: white;
}

.icon:before {
  font-family: "Conv_bmt-icons", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  text-rendering: optimizeLegibility;
}

.icon-white:before {
  color: red; /* #ffffff;*/
}

.welcome:before {
  content: "E";
}

.bigIcon {
  position: relative;
  display: flex;
  height: 80px;
  width: 80px;
  border: 1px solid var(--font-color) !important;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border-radius: 50%;
  margin: 0 auto;
}

.iconName {
  width: 100%;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  ul#iconContainer {
    width: 100%;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px !important;
  }
  .headingTopSize {
    font-size: 16px !important;
    margin-top: 90px !important;
    margin-bottom: 30px !important;
  }

  ul#iconContainer li {
    margin-bottom: 15px;
    justify-items: unsafe;
    transition: all 0.3s ease;
    width: 32%;
    padding: 0px;
    text-align: center;
    display: inline-block;
  }
  .bigIcon {
    height: 60px;
    width: 60px;
    font-size: 32px;
  }
  .iconName {
    font-size: 10px;
    font-weight: 500;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .iconName {
    font-size: 8px;
  }
}
