.caroselSpan {
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 2px;
}
.caroselp {
  padding-bottom: 15px;
  text-align: left;
}
.figure-img {
  margin-bottom: 0rem;
  width: 100%;
  height: auto;
  line-height: 1;
}
.container {
  font-size: 12px !important;
  color: #6c757d;
}
.container.about-page {
  margin-top: 5em;
}

.slick-dots li button:before {
  font-size: 20px !important;
  color: var(--font-color) !important;
  top: 20px !important;
}
.slick-dots {
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 70px;
  overflow: hidden;
}

.bridegroom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left;
  padding: 0px 10px;
  vertical-align: top;
}

.bridegroomCls,
.aboutPageCls {
  text-align: center;
  margin: 0 auto;
}
.bridegroom,
.bridegroomCls {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.aboutPage {
  display: inline-block;
  width: 350px;
  text-align: left;
  padding: 10px;
  vertical-align: top;
}
.alice-carousel {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin-left: 5%;
  padding: 10px !important;
}
.alice-carousel__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.alice-carousel__stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

.alice-carousel__stage-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  line-height: 0;
}

.alice-carousel__stage-item * {
  line-height: initial;
}

.alice-carousel__stage-item.__cloned {
  opacity: 0;
  visibility: hidden;
}

.alice-carousel__stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.alice-carousel__play-btn {
  display: inline-block;
  position: absolute;
  bottom: 90px;
  left: 80px;
  transform: scale(0.8);
}

.alice-carousel__play-btn:hover {
  cursor: pointer;
}

.alice-carousel__play-btn-item {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 30px;
  outline: none;
}

.alice-carousel__play-btn-item::before,
.alice-carousel__play-btn-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 0 8px 15px;
  border-left-color: #fff;
  width: 0;
  height: 0;
  transition: all 0.3s linear;
}

.alice-carousel__play-btn-item::before {
  height: 16px;
}

.alice-carousel__play-btn-item::after {
  left: 15px;
  top: 8px;
}

.alice-carousel__play-btn-item.__pause::before,
.alice-carousel__play-btn-item.__pause::after {
  border-width: 0 0 0 10px;
  height: 30px;
}

.alice-carousel__play-btn-item.__pause::after {
  left: 18px;
  top: 0;
}

.alice-carousel__dots {
  position: absolute;
  display: inline-block;
  left: 30%;
}

.alice-carousel__dots-item {
  display: inline-block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff9800 !important;
  /* margin-bottom: 80px; */
}

.alice-carousel__dots-item:not(:last-child) {
  margin-right: 15px;
}

.alice-carousel__dots-item:hover,
.alice-carousel__dots-item.__active {
  background-color: #ff9800 !important;
  width: 14px;
  height: 14px;
}

.alice-carousel__slide-info {
  display: inline-block;
  position: absolute;
  right: 80px;
  bottom: 80px;
  padding: 5px 10px;
  color: #465798;
  border-radius: 5px;
  background-color: rgba(224, 228, 251, 0.6);
}

.alice-carousel__slide-info-item {
  line-height: 0;
  vertical-align: middle;
}

.alice-carousel__dots li {
  list-style-type: none;
  display: inline-block;
  padding: 2px 2px !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.alice-carousel__dots-item {
  background: #ff6a00 !important;
}

.mainDestination {
  margin-top: 40px;
  background-color: #3cb371;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.destinationContent {
  background-color: #ff8c00;
  padding: 15px 10px;
  text-align: center;
  font-size: 20px;
}
.hrLine {
  border-top: 2px solid white;
}
.buttondestination {
  margin: 7px 10px;
  padding: 8px 40px;
  border-radius: 40px;
  border: 2px solid white;
  color: white;
}

.buttondestination:hover {
  background-color: #ff8c00;
  border: 2px solid white;
}

.fa-angle-left {
  float: left;
  position: relative;
  top: -13px;
}

.fa-home {
  float: right;
}

.modalButton {
  padding: 10px 30px;
  border-radius: 40px;
  margin-top: 20px;
}

.h4btn {
  width: auto;
  height: 40px;
  padding: 0px 20px;
  background: transparent;
  font-size: 14px;
  font-family: "Nunito Regular ";
  margin-bottom: 10px;
}
.h4btn:hover {
  background: #fff !important;
  border: 1px solid red;
  color: red;
}

@media (min-width: 576px) {
  .d-sm-block-flex {
    display: flex !important;
  }
}

.lineFormat {
  white-space: pre-line;
  text-align: justify !important;
}
.lineFormat a {
  color: white;
}

@media only screen and (max-width: 768px) {
  .alice-carousel__stage-item {
    margin-top: 100px;
  }
  .figure-capxion-Bride span {
    font-size: 14px;
    font-family: " Arima Madurai Med ";
    padding-top: 15px !important;
    padding-left: 15px !important;
  }
  .backIcon {
    display: show;
  }
  /* .slick-dots{
    top: -50px;
  } */
  .figure-capxion-Bride p {
    font-size: 13px;
    padding-left: 14px;
    padding-bottom: 15px;
    text-align: left !important;
  }
  .figure {
    width: 100% !important;
    margin-top: 75px !important;
  }
  .figure-img-carosel-bride {
    width: 100% !important;
    height: auto !important;
  }
  .figure-img-carosel-bride {
    width: 100% !important;
    height: auto !important;
  }

  /* Event Deatils and destination Fix */
  .places-to-visit-mobile .slick-dots,
  .destinationMobile .slick-dots,
  .eventDetailsBtn .slick-dots {
    top: -60px;
  }
  .places-to-visit-mobile .commonBtnDestination,
  .destinationMobile .commonBtnDestination,
  .eventDetailsBtn .commonBtnDestination {
    margin-bottom: 0px !important;
  }
}
