html {
  height: 100%;
}
body,
.appBody {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/yv9zoEr3PNnzGsz6z.jpeg");
}
.appLogo {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/gHd2iE3ZiQMwYcsFM.png");
}
.appNavbarBGColor {
  background-color: #232b2dff;
}
.appNavbarFontColor {
  color: #ffffff;
}
.appNavbarFontFamily {
  font-family: "Scope One Regular";
}
.appBodyFontColor {
  color: #f4f4f4ff;
}
.appBodyFontFamily {
  font-family: "Scope One Regular";
}
.appSelectColor {
  color: #f4f4f4ff;
}
.appGradientColor {
  background: linear-gradient(to right, #232b2dff, #585d5fff);
}

.categories .icon-white:before,
.iconName,
.coupleName {
  color: #232b2d !important;
}
.categories .bigIcon {
  border: 1px solid #232b2d !important;
}
