html {
  height: 100%;
}
body,
.appBody {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/4osLJT4CHzBB4jDdW.jpeg");
}
.appLogo {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/fnELfjJsKtygyT8bg.png");
}
.appNavbarBGColor {
  background-color: #25282d;
}
.appNavbarFontColor {
  color: #ffffff;
}
.appNavbarFontFamily {
  font-family: "Scope One Regular";
}
.appBodyFontColor {
  color: #25282d;
}
.appBodyFontFamily {
  font-family: "Scope One Regular";
}
.appSelectColor {
  color: #25282d;
}
.appGradientColor {
  background: linear-gradient(to right, #fff, #ffff);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  box-shadow: 5px 5px 7px #25282d;
}
