html {
  height: 100%;
}
body,
.appBody {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/bPicQKbqXWC8kugzM.jpeg");
}
.appLogo {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/CEF5c5bnA4o2bsdYe.png");
}
.appNavbarBGColor {
  background-color: #f16f21ff;
}
.appNavbarFontColor {
  color: #ffffffff;
}
.appNavbarFontFamily {
  font-family: "Scope One Regular";
}
.appBodyFontColor {
  color: #262626;
}
.appBodyFontFamily {
  font-family: "Scope One Regular";
}
.appSelectColor {
  color: #262626;
}
.appGradientColor {
  background: linear-gradient(to right, #ff9e65ff, #f5a437ff);
}
.appWelcomeBackground {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/tksproduction/bmtimages/bPicQKbqXWC8kugzM.jpeg");
}
