/* :root {
  --selected-color: #8a74b4;
} */

body {
  background-repeat: no-repeat !important;
  background-size: 100% calc(100% - 60px);
  background-attachment: fixed !important;
}
@media screen and (min-width: 900px) {
  body {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-position: center top 60px !important;
  }
}

.mainheadingCommon {
  font-size: 21px !important;
  margin: 0px;
  padding: 0px;
}
.subHeadingCommon {
  font-size: 18px !important;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px !important;
  font-weight: 600;
}

.paragraphCommon {
  font-size: 16px !important;
  text-align: left;
}
.card-title {
  margin-bottom: 0.75rem !important;
  font-size: 18px !important;
}
.figure-caption {
  padding: 15px;
}
.headingTop {
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  text-align: center !important;
}
.BtnCommon {
  text-align: center;
}

.slick-track {
  display: -webkit-flex !important;
  -webkit-flex: 1;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.slick-initialized .slick-slide {
  top: 0;
  left: 0;
}

.owl-item {
  -webkit-flex: 1;
  /*display: -webkit-flex;*/
  display: -ms-flexbox;
  display: flex !important;
  height: auto !important;
}

.flexHeight {
  display: flow-root;
  height: 100%;
}
.mobileHeadingFontSize {
  font-size: 16px !important;
  font-weight: 600;
}
.mobileParagraphFontSize {
  font-size: 14px;
  padding-top: 5px !important;
}
.icon-div {
  width: 45px;
  height: 45px;
  padding: 5px;
  float: left;
}
.icon-div:hover {
  background-color: #fff;
}

.expMenudiv:hover {
  background-color: #fff;
}
.expMenudiv {
  display: flow-root;
}
.expMenudiv p.menuName {
  float: left;
  position: relative;
  top: 10px;
  margin: 0px;
  padding-left: 15px;
}

/* Info Statement */
.info-statement {
  text-align: center;
  margin: 20px auto;
  color: var(--font-color) !important;
  width: 100%;
  font-size: 18px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commonBtnDestination {
  width: auto;
  height: 40px;
  font-size: 18px;
  padding: 0px 10px;
  text-align: center;
  margin: 0px 7px 40px 7px;

  border: 1px solid var(--font-color) !important;
  cursor: pointer;
  border-radius: none !important;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--bbcolor);
}
a.commonBtnDestination {
  line-height: 2;
}
.commonBtnDestination:hover,
.commonBtnDestination:active,
.commonBtnDestination:focus {
  border: 1px solid var(--selected-color) !important;
  color: var(--selected-color) !important;
  background: white !important;
  outline: none !important;
}
.active {
  background-color: #fff !important;
  color: var(--selected-color) !important;
  border: 1px solid var(--selected-color) !important;
}
.expMenudiv:hover .icon-white:before {
  color: var(--selected-color);
}
.expMenudiv:hover p.menuName {
  color: var(--selected-color);
}
.expMenudiv:hover .commonIcon {
  border: 1px solid var(--selected-color);
}

@media screen and (max-width: 768px) {
  .appBody {
    background-position: center top 60px !important;
  }

  .icon-div:hover {
    background-color: #fff;
  }

  .expMenudiv:hover {
    background-color: #fff;
  }
  .expMenudiv {
    display: flow-root;
  }
  .expMenudiv p.menuName {
    float: left;
    position: relative;
    top: 10px;
    margin: 0px;
    padding-left: 15px;
  }

  .responsiveBtn .btn {
    padding: 0px 20px !important;
    margin: 0px 7px !important;
  }
  .headingTopMobile {
    position: relative;
    top: 0px;
    font-size: 16px !important;
  }

  .headingTop {
    margin-top: 90px !important;
  }

  .mT90 {
    margin-top: 60px !important;
  }
  .pTop90 {
    position: relative;
    top: 90px;
  }
  .centerHeader {
    width: 60%;
  }
}
.aboutPage figure {
  margin: 0 0;
  margin-right: 2px;
  display: block !important;
}
ul.alice-carousel__dots {
  margin-top: 0;
  margin-bottom: 0px;
}

.mm-popup {
  display: none;
}

.mm-popup--visible {
  display: block;
}

.mm-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
}

.mm-popup__close {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAB8BJREFUWAnFWAtsU1UY/s+5XTcYYxgfvERQeQXxNeYLjVFxLVvb2xasKIgSVNQoREVI1GhmfC6ioijiNDo1vBxb19uVtRWUzAQ1+EowOkSQzTBAUJio27r2Hr9TLJTaa7vK4yTtvec///+f7/znf5xzGf2PZnVMKRHUczEJNpgYDSEdPzTB6GdG1EbE2sxk+qqxsW5rrtNAT+/aZLtrkiDdLYhUIcSwQ9KsA7DaAbKdEWOCQBckxwrkOGP0Lf7rTAqrW+vzbT4kk91/1gAB7BqdYlVC0KUAsQuANOKKjwYUNYfff//PdNNZ3O4zqEe/FguZykhUYFGFQKspnBYGNW1LOplUWkaANtvUc3pY5FUAKwewb4jzR0KaN8ikoXrRZs2aVbBr3/6bddKfhHUHAugys+j3eCCwYv9/qflPgFab83ps52ookxZ6OOT3regtsNTJHY45fSO05yGh6wsFsZ1cIVtI035M5Uv0DQFabY77BWOLsNrmQrPi8Xq9vyaEjsXT4pg6VuiRABZfzAVzhwK+T9Lp5emIFru6QCd6CXv4+sRLSizHGpycM+yvayng/S6Do7QIJtZZVXVyOiz/sqDV4XAKweoxsDjUqM1PJ3QsaeVz5+bHtrc2IjWVmky8tKmhYVuy/qMsWOZyXSR0Wo4IDVxRWrIgmfF4vTctWdINF7oJljwQ7dG9lpkzC5PnOgywsrKSU1R/Gz6xo7hPwXT0scsnpkkXEnncjTw6kvZ3vJI8q5Lo5BUV3YaAuFthyjStof6HBP1EPbe3tOweNWpMF0AuGHveuNqtLS375NxxC8rQB7inkOd8wcaGDScKVOo8/fvmLwWOPZFIrDIxFgcYEbtnA9wgk1lZmBgwetrtnqGTbapqNG5Et06ZMhhuYzIal/Ta2tpOlMVnEAOeCqfzfEmLA0SV8KB+bljr9Wbc2ijrujpGwmdxOB+SCrJpckGiu+enT7/85uZM/P375FcjDn6LxsRMycsrPJ5B2PerOLE1mYTleNDvX8k4W4xK8HyZ3XlvJpkym+qJEa1B1VjHRwz7IBM/rBjBNodhxXLJy6N/dbvlSz4nr3xm08J+7QHkyTdI6EssDsftRjJWh2smtmwlyrZ29tBBbplSjHiT6ZyxIHZ1vHQnVBlRArTfaZq2J5kp0zuS+D2w5Hs4/FWj8sxI5bfa1TuF0GtAX4W0Na26uronlceon89FSI5FRPf1HJY4C2e1HUbMRnR5aCguyIf1RC143oW1piZ44Z/zdCFgYXpnYmnJrdg27HL2LW4sxg7A9YYhqthwEmJ99uJHOOXEiMxbNm76qkAX+kps9xSUyXHwzyps02tBv29urqcfGG4fzgKnIYrFMHTajkzbuzcAjBb3zb8ROtajTHqx2Cq8L4IL3JcruEMIxF4cck/niK4IjlV5vYN1NLeMPATDd6DKPBclhfmP5sipdxBSRdKCe/E7PScVEMJxnllszlfgcw/CYk8g4X8OSwbKHY7Lc9Up5aB2MNxvN2eC7UUnJ4DYXm51ON/AqXsuVvpAuFGrVAYUVUD991HBmuStL1eQ2N7hkG1DfqY92J4ze6vI4/EoCI53YcE7EBD3hAL+xVJH0/Llv5tFkRUTtOoiGrbY3ONz0F2MAOnPGG8FQLYRCi7DhP2yVTRnzpy8A391r8TipqNYzkZALEuWlRchpU9BGfbpF8Fi6yar6pjk8UzvBzt7SuM8grbwPBMPwArm37u6JmUSlOPyBLyjfVcdttGNPDfjQ7+/Jp1cU23tXp6fNwkRfTCmi/XydpiOLx0tRvoNWPzOoN+7iQe83u/h2Dvgh7Z0zKk0/afWF+C8VsYVTzigrUodT+6H6ut3IaKvw0KiEYp8pKpqUfJ4unfp16C7meD1Mk3JDprwovbdaLNNP+VQ3/hfKGwFJ+WasL+hwZjryEjY5/vZTObrYJFmznHJzNA+2/S1dI2BsLysUBBDw8qGdOr0Ixz75XCj/2FJOxlNpiyrQ/0CuZmF/b4Jhy2I2ie/qywFqHkAO/BkgJNzWu3OW7GTJZzT/EQV+meL5Veewudg0FhnjJacDIAul2sATlZPw3gavjR8nMBwGCDOofuA+m74o0de3BMMJ+KJwDD9GY2twdGtH+7GDybPeZTTbvthy+aRo8cUYxWPjhw1duO2rVu2JzMfr3dzYZF0LzdTmCvk832RPM9hCyaIEy+ZsBBpoRnlqyGXy1FCTzbPeKm0q1WoGnch1c0La9qHqXLxKE4lyqrS0YlKQVTBhJifKGOpfP+nXz5jRv9Yx8HliFwbXOtR1PFn0+lLC1Ayylrb0dn1IqJqHmr1alL4ApnT0inpLa1MVa9kungLQYk7B90SDGiakQ5DgAkBi02djeiqgrJC3A8WiQHFVUZfVBMyRs9yp3McrpPPIhHjXs02m0zspiafT54jDVtGgFJSpoDOqP4YfOU+KO+Cco1xsYaPGBHMdFOTRaBbl9+zyYlcWwZ17Vjw41dOmPAefDDj95+sACaWV+5ynQsLzMZ104NAGoVo/0Oe/eDgrVDUhtl2gl7IOA2Of/FnYgSAXRBPuoI+JS5WDzn11DdramqwyOxarwAmq7Ta3RfqIqZCwWhYZjicHbdDGhoHLeTXfmrHUWwngDaTWWkMe72/JMtn+/43YTIL+pAwwhkAAAAASUVORK5CYII=")
    no-repeat center center;
  background-size: 100%;
  margin: 0;
}

.mm-popup__input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #e9ebec;
  outline: none;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-size: 14px;
  padding: 0 12px;
  color: #808080;
}

.mm-popup__btn {
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
  height: 32px;
  border: 1px solid #666;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.mm-popup__btn--success {
  background-color: #27ae60;
  border-color: #27ae60;
  color: #fff;
}

.mm-popup__btn--danger {
  background-color: #c5545c;
  border-color: #c5545c;
  color: #fff;
}

.mm-popup__box {
  width: 350px;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -175px;
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(126, 137, 140, 0.2);
  border-radius: 5px;
  border: 1px solid #b8c8cc;
  overflow: hidden;
  z-index: 1001;
}

.mm-popup__box__header {
  padding: 15px 20px;
  background: #edf5f7;
  color: #454b4d;
}

.mm-popup__box__header__title {
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.mm-popup__box__body {
  padding: 20px;
  line-height: 1.4;
  font-size: 14px;
  color: #454b4d;
  background: #fff;
  position: relative;
  z-index: 2;
  white-space: pre-line;
}

.mm-popup__box__body p {
  margin: 0 0 5px;
}

.mm-popup__box__footer {
  overflow: hidden;
  padding: 40px 20px 20px;
}

.mm-popup__box__footer__right-space {
  float: right;
}

.mm-popup__box__footer__right-space .mm-popup__btn {
  margin-left: 5px;
}

.mm-popup__box__footer__left-space {
  float: left;
}

.mm-popup__box__footer__left-space .mm-popup__btn {
  margin-right: 5px;
}

.mm-popup__box--popover {
  width: 300px;
  margin-left: -150px;
}

.mm-popup__box--popover .mm-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAB8BJREFUWAnFWAtsU1UY/s+5XTcYYxgfvERQeQXxNeYLjVFxLVvb2xasKIgSVNQoREVI1GhmfC6ioijiNDo1vBxb19uVtRWUzAQ1+EowOkSQzTBAUJio27r2Hr9TLJTaa7vK4yTtvec///+f7/znf5xzGf2PZnVMKRHUczEJNpgYDSEdPzTB6GdG1EbE2sxk+qqxsW5rrtNAT+/aZLtrkiDdLYhUIcSwQ9KsA7DaAbKdEWOCQBckxwrkOGP0Lf7rTAqrW+vzbT4kk91/1gAB7BqdYlVC0KUAsQuANOKKjwYUNYfff//PdNNZ3O4zqEe/FguZykhUYFGFQKspnBYGNW1LOplUWkaANtvUc3pY5FUAKwewb4jzR0KaN8ikoXrRZs2aVbBr3/6bddKfhHUHAugys+j3eCCwYv9/qflPgFab83ps52ookxZ6OOT3regtsNTJHY45fSO05yGh6wsFsZ1cIVtI035M5Uv0DQFabY77BWOLsNrmQrPi8Xq9vyaEjsXT4pg6VuiRABZfzAVzhwK+T9Lp5emIFru6QCd6CXv4+sRLSizHGpycM+yvayng/S6Do7QIJtZZVXVyOiz/sqDV4XAKweoxsDjUqM1PJ3QsaeVz5+bHtrc2IjWVmky8tKmhYVuy/qMsWOZyXSR0Wo4IDVxRWrIgmfF4vTctWdINF7oJljwQ7dG9lpkzC5PnOgywsrKSU1R/Gz6xo7hPwXT0scsnpkkXEnncjTw6kvZ3vJI8q5Lo5BUV3YaAuFthyjStof6HBP1EPbe3tOweNWpMF0AuGHveuNqtLS375NxxC8rQB7inkOd8wcaGDScKVOo8/fvmLwWOPZFIrDIxFgcYEbtnA9wgk1lZmBgwetrtnqGTbapqNG5Et06ZMhhuYzIal/Ta2tpOlMVnEAOeCqfzfEmLA0SV8KB+bljr9Wbc2ijrujpGwmdxOB+SCrJpckGiu+enT7/85uZM/P375FcjDn6LxsRMycsrPJ5B2PerOLE1mYTleNDvX8k4W4xK8HyZ3XlvJpkym+qJEa1B1VjHRwz7IBM/rBjBNodhxXLJy6N/dbvlSz4nr3xm08J+7QHkyTdI6EssDsftRjJWh2smtmwlyrZ29tBBbplSjHiT6ZyxIHZ1vHQnVBlRArTfaZq2J5kp0zuS+D2w5Hs4/FWj8sxI5bfa1TuF0GtAX4W0Na26uronlceon89FSI5FRPf1HJY4C2e1HUbMRnR5aCguyIf1RC143oW1piZ44Z/zdCFgYXpnYmnJrdg27HL2LW4sxg7A9YYhqthwEmJ99uJHOOXEiMxbNm76qkAX+kps9xSUyXHwzyps02tBv29urqcfGG4fzgKnIYrFMHTajkzbuzcAjBb3zb8ROtajTHqx2Cq8L4IL3JcruEMIxF4cck/niK4IjlV5vYN1NLeMPATDd6DKPBclhfmP5sipdxBSRdKCe/E7PScVEMJxnllszlfgcw/CYk8g4X8OSwbKHY7Lc9Up5aB2MNxvN2eC7UUnJ4DYXm51ON/AqXsuVvpAuFGrVAYUVUD991HBmuStL1eQ2N7hkG1DfqY92J4ze6vI4/EoCI53YcE7EBD3hAL+xVJH0/Llv5tFkRUTtOoiGrbY3ONz0F2MAOnPGG8FQLYRCi7DhP2yVTRnzpy8A391r8TipqNYzkZALEuWlRchpU9BGfbpF8Fi6yar6pjk8UzvBzt7SuM8grbwPBMPwArm37u6JmUSlOPyBLyjfVcdttGNPDfjQ7+/Jp1cU23tXp6fNwkRfTCmi/XydpiOLx0tRvoNWPzOoN+7iQe83u/h2Dvgh7Z0zKk0/afWF+C8VsYVTzigrUodT+6H6ut3IaKvw0KiEYp8pKpqUfJ4unfp16C7meD1Mk3JDprwovbdaLNNP+VQ3/hfKGwFJ+WasL+hwZjryEjY5/vZTObrYJFmznHJzNA+2/S1dI2BsLysUBBDw8qGdOr0Ixz75XCj/2FJOxlNpiyrQ/0CuZmF/b4Jhy2I2ie/qywFqHkAO/BkgJNzWu3OW7GTJZzT/EQV+meL5Veewudg0FhnjJacDIAul2sATlZPw3gavjR8nMBwGCDOofuA+m74o0de3BMMJ+KJwDD9GY2twdGtH+7GDybPeZTTbvthy+aRo8cUYxWPjhw1duO2rVu2JzMfr3dzYZF0LzdTmCvk832RPM9hCyaIEy+ZsBBpoRnlqyGXy1FCTzbPeKm0q1WoGnch1c0La9qHqXLxKE4lyqrS0YlKQVTBhJifKGOpfP+nXz5jRv9Yx8HliFwbXOtR1PFn0+lLC1Ayylrb0dn1IqJqHmr1alL4ApnT0inpLa1MVa9kungLQYk7B90SDGiakQ5DgAkBi02djeiqgrJC3A8WiQHFVUZfVBMyRs9yp3McrpPPIhHjXs02m0zspiafT54jDVtGgFJSpoDOqP4YfOU+KO+Cco1xsYaPGBHMdFOTRaBbl9+zyYlcWwZ17Vjw41dOmPAefDDj95+sACaWV+5ynQsLzMZ104NAGoVo/0Oe/eDgrVDUhtl2gl7IOA2Of/FnYgSAXRBPuoI+JS5WDzn11DdramqwyOxarwAmq7Ta3RfqIqZCwWhYZjicHbdDGhoHLeTXfmrHUWwngDaTWWkMe72/JMtn+/43YTIL+pAwwhkAAAAASUVORK5CYII=")
    no-repeat center center;
  background-size: 100%;
  margin: 0;
  z-index: 3;
}

.mm-popup__box--popover .mm-popup__box__body {
  padding: 20px;
}

@media (max-width: 420px) {
  .mm-popup__box {
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    margin-left: 0;
  }

  .mm-popup__box__footer__left-space {
    float: none;
  }

  .mm-popup__box__footer__right-space {
    float: none;
  }

  .mm-popup__box__footer {
    padding-top: 30px;
  }

  .mm-popup__box__footer .mm-popup__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

/* -------chat ------------------*/

.chatGuestNames {
  position: relative;
  font-size: 18px;
  text-align: left;
  background: transparent !important;
  border-radius: 0 !important;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color);
}
.chatGuestNames:hover {
  color: var(--selected-color) !important;
  background: white !important;
}
.chatGuestActive {
  background-color: #fff !important;
  color: var(--selected-color) !important;
}

.sa-padding {
  margin-bottom: 20px;
  width: 150px;
}
/*------------------chatEnd-----------*/

@media (max-width: 420px) {
  .mm-popup__box {
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    margin-left: 0;
  }

  .openMenuIcon {
    display: none;
  }

  .rightHeader {
    /* width: 34%; */
  }

  .mm-popup__box__footer__left-space {
    float: none;
  }

  .mm-popup__box__footer__right-space {
    float: none;
  }

  .mm-popup__box__footer {
    padding-top: 30px;
  }

  .mm-popup__box__footer .mm-popup__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .mobileBtnBridge {
    background: var(--bbcolor);
    border: 1px solid var(--font-color);
    padding: 0px 20px;
    height: 40px;
    font-size: 16px;
    width: auto;
    margin: 30px auto;
    text-align: center !important;
    text-transform: uppercase;
    border-radius: 10px;
    align-items: center;
  }
  .commonBtnDestination {
    font-size: 12px !important;
    margin: 30px 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subHeadingCommon {
    font-size: 14px !important;
    font-weight: 600;
    text-decoration: none;
  }
  .paragraphCommon {
    font-size: 14px !important;
    /* padding-top: 5px; */
  }
  /* .container-fluid{
        width: 100% !important;
      } */
  .pTop90 {
    position: relative;
    top: 0px;
  }
  .card-title {
    font-size: 16px !important;
  }
  .mainheadingCommon {
    font-size: 16px !important;
    font-weight: 600;
  }
  .mT90ContactUs {
    margin-top: 145px !important;
  }
  /* .accordion .card-header:after{
        display: none!important;
    } */
}

/* popup */
.mm-popup__box__body {
  text-align: center;
  padding-bottom: 0;
  padding-top: 40px;
}
.notificationBell {
  position: relative;
}
#chatBackIcon {
  display: none;
}
.btn.focus,
.btn:focus {
  /* box-shadow: 0 0 0 0.2rem rgba(230, 71, 9, 0.25); */
}

.remarkTitle {
  font-size: 14px;
  text-align: center;
}

.dropdownMenu {
  margin: 5px 0px;
  font-size: 1.2em;
}

.uploadBtn {
  width: 150px;
  background: #dddddd;
  color: #000;
  border: 0px;
}

.headingPurchase {
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  text-align: center !important;
}
.tnc-list {
  display: list-item;
}

.table td,
.table th {
  padding: 0.6rem;
}

.hdfc_logo {
  height: 90px;
}

.categories .icon-white:before {
  /* color: #421603ff; */
  color: #ffffffff;
}
.destContainerCurrency {
  display: none;
}
/* .topHeaderCss {
    color: #000;
} */
/* .booked-ticket {
  color: #fff;
} */
.DashboardTitle {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--font-color);
}
.DisclaimerAccept {
  background-color: var(--bbcolor);
  border-color: #fff;
}