.rsvpContent {
  margin-bottom: 40px;
  height: 80px;
}
.rsvpContent p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.pClass {
  margin-top: 12px;
}
.adjustPadding .btn {
  padding: 0px 22px !important;
  margin-top: 20px !important;
}
.attendingH4 {
  background-color: #ff8000;
  padding: 5px;
}
.rsvpMargin {
  margin-bottom: 20px;
}
.card-header-rsvp {
  color: #fff;
  border-bottom: transparent;
  cursor: pointer;
}
.card-header-rsvp a {
  padding: 10 0px;
}
.myPreference-card-body hr {
  border: 1.5px solid #fff;
  margin-left: 20%;
  margin-right: 20%;
}
.card-header-rsvp .accordion .card-header.collapsed:after {
  content: none;
}
.registerd-margin {
  margin-top: 14%;
}
.rsvpPheading {
  font-size: 21px;
}
.responsiveContent {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.secondRsvp {
  margin-left: auto;
  margin-right: auto;
}

.third-rsvp-content {
  height: 95px !important;
  width: 90%;
  margin: 0px auto;
}
.third-rsvp-content .BtnCommon {
  margin-top: 50px !important;
}

.third-rsvp-content p {
  font-size: 18px !important;
  line-height: 19px;
  text-align: center;
  margin-top: 6%;
}
.formStyle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.rsvpRowWidth {
  margin-bottom: 15px;
}
.secondRsvp p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: " Nunito Regular ";
  font-size: 18px;
  height: auto;
  width: 441px;
  padding: 6px 20px;
  line-height: 1.1;
}
.tapToSelect {
  margin-top: -2.5%;
}
@media screen and (max-width: 1175px) {
  .adjustPadding .btn {
    padding: 0px 9px !important;
    font-size: 15px !important;
  }
  /*   .BtnCommon .btn{
        padding: 0px 11px !important;
        font-size: 15px !important;
    } */
  .rsvpPheading {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .responsiveHidden .btn {
    display: none !important;
  }
  .responsiveContent {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .responsiveHidden .btn {
    display: none !important;
  }
  .resposiveVisile .btn {
    padding: 0px 10px !important;
    margin: 22px 6px !important;
  }
  .adjustPadding .btn {
    width: 207px !important;
    margin-top: 10px !important;
  }

  .resposivemarginTopRSVP {
    margin-top: 20px !important;
  }
  /*  .attending-collapse{
        position: relative;
        top:137px;
        margin-left: 6px;
        margin-right: 6px;

    } */
  .rsvpContent {
    margin-top: 0px !important;
  }
  .tapToSelect {
    margin-top: -9.5%;
  }
  /*  .third-rsvp{
    position: absolute;
    top: 24%;
    margin-left: 37px;
    margin-right: 36px;
    } */
  .registerd-margin {
    margin-top: 39% !important;
    margin-left: 20px;
    margin-right: 20px;
  }
  .rsvpContent {
    margin-bottom: 150px;
  }
  .rsvpBtnMobile {
    margin-top: 90px;
  }
  .radio-group .commonBtnDestination {
    height: 43px !important;
    line-height: 30px;
    margin-bottom: 10px !important;
    width: 152px !important;
    font-size: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .rsvpPaddingRow {
    padding-bottom: 10px;
  }
  .rsvpRowWidth {
    width: 100% !important;
  }
}

.rsvp.radio-group button {
  display: block;
}
@media (max-width: 768px) {
  .rsvpConference {
    /* overflow-x: scroll; */
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
  }
  .collapseBodyParagraphp {
    padding-top: 20px;
  }
  .myPreference-card .btn.commonBtnDestination {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .myPreference-card .card-header-rsvp .card-title {
    padding: 0;
  }
  .container-fluid.resposivemarginTopRSVP {
    width: 100% !important;
  }
  .commonBtnDestination.rsvp-btn {
    min-width: 100%;
    min-height: 40px;
    height: auto;
    white-space: normal;
    padding: 5px;
  }
}
.rsvp.radio-group button {
  display: inline-block;
}

@media (max-width: 768px) {
  .rsvpWedding {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
  }
  .rsvpWeddingGuestName {
    /* overflow-x: scroll !important; */
    display: flex !important;
    justify-content: center !important;
  }
  .rsvp.radio-group button {
    display: block;
  }
}

/* Hide MAYBE button */

.myPreference-card [rel="MAYBE"] {
  display: none !important;
}
.rsvp-hide[rel="MAYBE"] {
  display: none !important;
}
